body {
	font: 100%/1.4 cursive, Arial, Helvetica,italic, sans-serif;
	background: #42413C;
	margin: 0;
	padding: 0;
	color: #000;
}
.header h1 {
	margin-top: 0
}
/*所有标题的字体*/
h1 h2 {font-family: cursive;}
a img { /* 此选择器将删除某些浏览器中显示在图像周围的默认蓝色边框（当该图像包含在链接中时） */
	border: none;
}

.input_form{
	padding-bottom: 15px;
/*	padding-top: 20px;*/
}
.input {line-height: 30px;
	font-weight: 400px;
	width: 300px;
}
.button{
	font-family: cursive;
	font-size: 120%;
	line-height: 30px;
	font-weight: 400px;
}
.img {
	height: 70px;
}

#menu{
	float:center;
    margin-right:3px;}
#time{
	font-family: cursive;
	margin-right: 1px;
	font-size: 150%;
	color: #BA4E00;
}
#websites{
	position: relative;
	top: -30px;
}
#lif_siteimgs{
	position: relative;
	top: 0%;
	left: 0%;
}
#mysiteimgs{
	background:#FFF;
	float: left;
	margin-left: 50px;
	margin-right: 0px;
    width:410px;
		  }
#jjsiteimgs{
	background:#FFF;
	float: right;
	margin-right: 50px;
          width:410px;
		  }
.fanyi_text{
	height:50px;
}
#lzwords{
	font-family: cursive;
	font-size: 120%;
	color: #BA4E00;
	height: 50px;}
/* ~~ 此固定宽度容器包含其它 div ~~ */
.container {
	width: 960px;
	background: #FFF;
	margin: 0 auto; /* 侧边的自动值与宽度结合使用，可以将布局居中对齐 */
}

/* ~~ 标题未指定宽度。它将扩展到布局的完整宽度。标题包含一个图像占位符，该占位符应替换为您自己的链接徽标 ~~ */
.header {
	background: #ADB96E;
/*	background: #ADB96E;*/
}

.content {

	padding: 10px 0;
}



/* ~~ 脚注 ~~ */
.footer {
	padding: 10px 0;
	background: #CCC49F;
}

#footer {
	padding: 10px 0;
	background: #CCC49F;
	weith:300px;
	     font-family:Verdana, Geneva, sans-serif;
         font-size:small;
		 text-align:center;
	clear:both;
		 color:#eed;
}
