#block table{
    border-collapse: collapse;
}
#block{
    border: black solid 2px;
}

#block table{
    width: 300px;
    height: 500px;
    border: solid 1px red;
    margin: 25px 0px 0px 112px;
    float: left;
}
#block .display{
    float: left;
    margin: 9px 0px 1px 100px
}
#block td{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    /* border: saddlebrown solid 1px; */
}

#block .T{
    background-image: url(../images/block_img/1.png);
}
#block .L{
    background-image: url(../images/block_img/2.png);
}
#block .J{
    background-image: url(../images/block_img/3.png);
}
#block .O{
    background-image: url(../images/block_img/4.png);
}
#block .Z{
    background-image: url(../images/block_img/5.png);
}
#block .S{
    background-image: url(../images/block_img/6.png);
}
#block .I{
    background-image: url(../images/block_img/7.png);
}