#snake{
	width: 540px;
	height: 540px;
	margin: 40px auto;
	position: relative;
}
#snake .btn{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 2;
}
#snake .btn button{
	background: none;
	border: none;
	background-size: 100% 100%;

	cursor: pointer;
	outline: none;

	position: absolute;
	left: 50%;
	top: 50%;
}

#snake .startBtn button{
	width: 200px;
	height: 80px;
	background-image: url(../images/snake_img/startGame.png);
	margin-left: -100px;
	margin-top: -40px;
}

#snake .pauseBtn{
	display: none;
}
#snake .pauseBtn button{
	width: 70px;
	height: 70px;
	background-image: url(../images/snake_img/start.png);
	margin-left: -35px;
	margin-top: -35px;
}

/* snakeWrap */
#snake #snakeWrap{
	width: 500px;
	height: 500px;
	background: #225675;
	border: 20px solid #7dd9ff;
	position: relative;
}

#snake .snakeHead{
	background-image: url(../images/snake_img/snake.png);
	background-size: cover;
}
#snake .snakeBody{
	background-color: #9ddbb1;
	border-radius: 50%;
}
#snake .food{
	background-image: url(../images/snake_img/food.png);
	background-size: cover; 
}
