/*页面预设置*/
body {
	font: 100%/1.4 cursive, Arial, Helvetica,italic, sans-serif;
	background: #3f514d;
	margin: 0;/*用户代理中margin为8*/
	padding: 0;
	color: #000;	
}
a {
	text-decoration-line: none;/*去掉下划线*/
	color: #3f514d;/*改变颜色*/
}
a img { /* 此选择器将删除某些浏览器中显示在图像周围的默认蓝色边框（当该图像包含在链接中时） */
	border: none;
}
ul li {
	text-decoration: none;
	list-style-type: none;/*去掉小圆点*/
}
button {
	cursor: pointer;
}
/*container设置*/
.container {
	position: relative;
	width: 960px;
	background: #c3c3c3;
	margin: 0 auto; 
}
/*header设置*/
.header{
	padding-top: 30px;/*这是为了让菜单*/
	height: 233px;
	text-align: center;
	background-color: rgba(109,126,123,0.5);
	background-image: url("../image/header-img.jpg");
	background-size:contain;
	background-repeat: no-repeat;
}
.header .h1_img{
	font-size: 1.4em;
	color: #2b3e4f;
	position: absolute;
	top: 91px;
	left: 20px;
}
.header .h1_img h1 {
	display: inline;
	margin-top: 0
}
.header .h1_img img{
	height: 50px;
}
.menu{
	margin-top: 183px;
	background-color: rgba(109,126,123,0.7);
}
.menu ul li{
	cursor: pointer;
	color: #151429;
	display: inline;
	line-height: 50px;
	font-size: 2em;
	padding: 9px 65px;

}
.menu li:hover{
	background: #9ca5a2; 
}
.menu .developing_board{/*正在开发提示板*/
	font-size: 1.5em;
	padding: 50px 0 50px 0;
	display: none;
	width: 400px;
	height: 300px;
	background: #fbfbfb;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;	
}
/*提示板*/
.menu .tips {
  /*font-size: 1.3em;*/
	text-align: left;
	padding: 50px 0 50px 0px;
	display: none;
	width: 400px;
	height: 300px;
	background: #fbfbfb;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;	
}
.menu .tips ol{
	margin: 0 50px 0 80px;
	padding: 0;
}
.menu .tips ol .round_mode_off_button,
.menu .tips ol .round_mode_on_button{
	display: inline;cursor: pointer;
}
.menu .tips ol .round_mode_off_button{
	display: none;
}
/*留言板*/
.message_board {
	display: none;
	width: 400px;
	height: 460px;
	background: #fbfbfb;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.mask{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.5);
}
.close_button{/*用的都是相对位置，可以作为弹出框通用button，所以不加.message_board*/
	text-align: center;
	font-size: 0.7em;
	cursor: pointer;
	border:2px dashed #000;
	width: 20px;
	height: 20px;
	border-color: #000000;
	border-radius: 50%;/*通过设置圆角使矩形变圆形*/
	position: absolute;
	top: -12px;
	left: 387px;
	background-color: #fbfbfb; 
/*	padding-bottom: 1px;*/
}
.message_board .message_board_tips{
	font-size: 1.1em;
	width: 300px;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 10px;
}
.message_board .input_board{
	font-size: 1.1em;
	display: block;
	margin: auto;
	width: 300px;
	height: 280px;
}
.message_board .submit_button{
	font-size: 1.2em;
	margin: 7px 0 0 254px;
	cursor: pointer;
}
.success_submit_board{
	font-size: 1.5em;
	padding: 35px 0 0 13px;
	display: none;
	width: 253px;
	height: 66px;
	background: #fbfbfb;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
/*网址导航正文*/
.content{/*宽度自动填满*/
/*	background: #9ED89C;*/
	text-align: center;
	height: 1000px;
	padding-top: 30px;
}
/*search搜索栏和两个先挂件设置*/
#lzwords{
/*	border:1px dashed #000;*/
	text-align: center;
	width: 210px;
	float: left;
	font-size: 140%;
	color: #18161a;
	height: 100px;
	margin: 30px 0 0 30px;
/*	align-items: center;*/
}
#time{
/*	border:1px dashed #000;*/
	text-align: center;
	background-image: url("../image/便签.png");
	float: right;
	width: 210px;
	font-size: 120%;
	height: 100px;
	margin: 16px 30px 0 0;
	padding-top: 20px;
}
.search{
	text-align: center;
	margin:auto;
}
.search .input_form{
	margin-top: 30px;
}
.search input{
	background: #efefef;
	border-color: #c3c3c3;
	line-height: 30px;
	width: 350px;
}
.search button{
	font-size: 120%;
	line-height: 26px;/*这里不知道为什么input和button对不齐，所以只能修正line-height和padding*/
	padding-bottom: 5px;
}
.content .useful_websites{
	margin: 0 70px;
}
.content img{
	height: 80px;
	width: 80px;
	margin: 5px;
}
.content .useful_websites img{/*常用网站稍微紧凑点*/
	height: 76px;
	width: 76px;
	margin: 4px;
}
.img{/*因为圆角要经过js控制，所以每个图片有类名，即img，其实跟.content img指向一样*/
	border-radius: 20%;
}
.content .my_favorites{
	float: left;
	width:410px;
	margin-left: 50px;
	margin-right: 0px;
}
.content .jingjing_favorites{
	float: right;
	width: 410px;
	margin-right: 50px;
}
.content .vertical_line{
	width: 2px;
	height: 600px;
	background: darkgray;
	margin: auto;
}
/*相册photo album*/
.album{
	display: none;/*默认不显示*/
	text-align: center;
	height: 1000px;
}
.album .photo_tips{
	display: block;
	font-size: 2em;
	width: 400px;
	height: 460px;
	margin: 100px auto;
}
/*这是页脚*/
.footer {
	padding: 10px 0;
	background: #abb1b1;
	font-size:1em;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	clear:both;/*防止高度坍塌造成页脚跑到浮动内容上面了*/
	color:#eed;
}
.former_vision li{
	display: inline;
}
