<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
	
<title>Elijah个人网站</title>
<link href="../static/CSS/my_css.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../static/js/my_js.js"></script>
</head>
	
<body>
<div class="container">
	<!--导航栏标题-->
	<div class="header">
		<div class="h1_img">
			<h1>Elijah个人网站</h1>
		</div>
		<div class="menu"><!--菜单栏-->
			<ul>
				<li>首页</li>
				<li>简历</li>
				<li>作品</li>
				<li>留言</li>
			</ul>
		</div>
	</div>
	<div class="content"><!--网址导航正文-->
		<div class="search"><!--百度搜索框-->
    		<form action="http://www.baidu.com/s" target="_blank" class="input_form">
				<input list="input_tips" name="word" type="text"> 
  				<button type="submit">百度一下</button>
				<datalist id="input_tips">
					<option value="搜搜谁是春春呗">提示</option>
					<option value="搜搜石家庄的消息呗">提示</option>
					<option value="想知道点啥呢？">提示</option>
					<option value="你知道我在想你吗">提示</option>
					<option value="吃饭了吗">提示</option>
					<option value="困就睡睡把">提示</option>
					<option value="哈哈">提示</option>
				</datalist>
			</form>
    	</div>
	</div>
</div><!--container完-->
<div class="footer">
	<p>Copyright © 2021. All Rights Reserved.Designed by <a href="#">Elijah</a></p>
</div>
</body>
</html>
