<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
	
<title>Elijah个人网站</title>
<link href="../static/CSS/my_css.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../static/js/my_js.js"></script>
</head>
	
<body>
<div class="container">
	<!--导航栏标题-->
	<div class="header">
		<div class="h1_img">
			<img src="static/image/my_img/award.gif" alt=""/>
			<h1>Elijah网址导航</h1>
		</div>
		<div class="menu"><!--菜单栏-->
			<ul>
				<li>首页</li>
				<li>相册</li>
				<li>提示</li>
				<li>留言</li>
			</ul>
		</div>
	</div>
	<div class="content"><!--网址导航正文-->
	</div>
</div><!--container完-->
<div class="footer">
	<p>Copyright © 2021. All Rights Reserved.Designed by <a href="templates/About Elijah.html" target="_blank">Elijah</a></p>
</div>
</body>
</html>
