@charset "UTF-8";
/* Body */
body {
	font-family: source-sans-pro;
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}

/* Container */
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 940px;
	background-color: #FFFFFF;
}
/* Navigation */
header {
	width: 100%;
	height: 5%;
	background-color: #52bad5;
	border-bottom: 1px solid #2C9AB7;
}
.logo {
	color: #fff;
	font-weight: bold;
	text-align: undefined;
	width: 10%;
	float: left;
	margin-top: 15px;
	margin-left: 25px;
	letter-spacing: 4px;
}
nav {
	float: right;
	width: 50%;
	text-align: right;
	margin-right: 25px;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
nav ul li a {
	color: #FFFFFF;
	text-decoration: none;
}

.hero_header {
	color: #FFFFFF;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
}
/* Hero Section */
.hero {
	background-color: #B3B3B3;
	padding-top: 15px;
	padding-bottom: 10px;
}
.light {
	font-weight: bold;
	color: #717070;
}
.tagline {
	text-align: center;
	color: #FFFFFF;
	margin-top: 4px; 	
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/* Parallax Section */
.banner {
	align-content: center;
	background-color: #FFFFFF;
	background-image: url(../images/parallax.png);
	height:600px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.titwords {
	color: #000000;
	text-align: center;
	padding-right: 100px;
	padding-top: 10px;
	letter-spacing: 2px;
	margin-top: 0px;
}
/*为了测试*/
div{
	border: 1px dashed #000;
}
table{
	border-collapse: collapse;
	background-color: #B3B3B3;
	margin: 0px auto;
}

.titlist{
	list-style: none;/*	删除圆点*/
	font-size: 25px;
	font-weight: bold;
	color: #717070;
	line-height: 50px;
	display: inline;
	overflow: hidden;

}
.titlist a:hover{
	background-color: #52bad5;
	cursor: pointer;
}
.titlist a:visited{
	background-color: #52bad5;	
}
/*对第一个标题进行修饰，因为是默认页*/
#tab1{
	background-color: #52bad5;
}
/*表格内容页底色*/
#th2{
	background-color: #52bad5;
}

/*对表格内容进行修饰*/
#tab1_content{
	font-size: 25px;
	font-weight: bold;
	color: #717070;
}



/*第二章表格的表格样式*/
#tab2_con1 li {float: left; width: 120px;list-style-type: none;}
#tab2_con2{float: left}
#tab2_con2 th{width: 60px;}


/* More info */
footer {
	background-color: #FFFFFF;
	padding-bottom: 0px;
}
.footer_column {
	width: 50%;
	text-align: center;
	padding-top: 0px;
}
footer .footer_column h3 {
	color: #B3B3B3;
	text-align: center;
}
footer .footer_column p {
	color: #717070;
	background-color: #FFFFFF;
}

footer .footer_column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
}
.button {
	width: 200px;
	margin-top:0px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 1px;
	padding-right: 10px;
	padding-bottom: 1px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
.footer_banner {
	background-color: #B3B3B3;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5PX;
	margin-bottom: 0px;
	background-image: url(../images/pattern.png);
	background-repeat: repeat;
}
footer {
	display: inline-block;
}
.hidden {
	display: none;
}

